/* Global styles for the page */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Main container for the page */
.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/images/building.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 2s ease, filter 2s ease;
}


/* Placeholder for the fire animation */
.fire-placeholder {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Clicks pass through */
}



.firepit-image {
  transition: transform 0.3s ease;
}

/* Text container for Christmas messages */


.christmas-text p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* Style for the click prompt */
.click-text {
  font-size: 1.5rem;
  color: #fb24d7; /* Yellow color */
  animation: pulse 2s infinite; /* Pulsating effect */
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
