
/*
Width:
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/

/* Themes */
  
  .light{
    --primary: #fae8e7; /* primary (Body) Color*/
    --primary-2: #181a1f; /* primary (HTML) Color*/
    --secondary: #d47479; /* highlight Color*/
    --text: #1d334a; /* Color for Texts and Dropdown Hover*/
    --line: #1d334a;  /* Seperator Line (CV, Footer, ..)*/
    --bgDD: #7486d4; /* DropDown Background*/
    --bgBS: transparent; /* Neon Light*/
  }

  .shadow{
    --primary: #262930;
    --primary-2: #181a1f;
    --secondary: #7486d4;
    --text: #fae8e7;
    --line: gray;
    --bgDD: #d47479;
    --bgBS: #d47479;
  }
  
  
  


  html {
  background-color: var(--primary-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    color: var(--text);

  }	


  

  /* Screen Width Depending Elements*/

  @media screen and (min-width: 1500px) {
    body{
      display: ruby-text-container;
      background-color: var(--primary);
      text-align: center;
      flex-direction: row;
      align-items: center;
      width: 50%;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem transparent,
                0 0 2rem var(--bgBS),
                0 0 0.8rem var(--bgBS),
                0 0 2.8rem var(--bgBS),
                inset 0 0 1.3rem transparent;
    }
  
    h1 {
      color: var(--text);
      font-size: 3vw;
    }
    
    h2 {
      color: var(--text);
      font-size: 2vw;
    }
  
    p {
      font-family: arial;
      font-size: 1vw;
    }
  
    aside.cvDownload { 
      width: 10%;
      margin-top: 2px;
      margin-left: 95%;
      font-size: 11px;
      background-color: var(--primary);
      border:2px dashed var(--primary);
      background-color: var(--secondary);
      padding-top: 10px;
      padding-bottom: 10px;
      position: sticky;
      bottom: 0;
      box-shadow: 0 0 .2rem transparent,
                0 0 .2rem var(--bgBS),
                0 0 2rem var(--bgBS),
                0 0 0.8rem transparent,
                0 0 2.8rem transparent,
                inset 0 0 1.3rem transparent;
    } 
  
    table{
      margin: 5vw;
      font-size: 11px;
      color: var(--text);
    }

    /* ---------- Sticky Navigation on Page */

  aside.quickNavigation { 
    width: 110%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    padding-top: 10px;
    max-height: 3vw;
    margin-left: -7.5%;
    font-size: 0vw;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  } 

  aside.topNavigation { 
    width: 110%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    padding-top: 10px;
    max-height: 3vw;
    margin-left: -7.5%;
    margin-bottom: 10%;
    font-size: 0vw;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  }

  ul.navul {
    list-style-type: none;
    padding: 0;
    overflow: visible;
    border-radius: 5%;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    background-color:transparent;
    margin-left: -10%;
  }

  .indexContent{
    width: 96.7%;
  }
  }





  @media screen and (max-width: 1499px) {
    body{
      display: ruby-text-container;
      background-color: var(--primary);
      text-align: center;
      flex-direction: row;
      align-items: center;
      width: 75%;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem transparent,
                0 0 2rem var(--bgBS),
                0 0 0.8rem var(--bgBS),
                0 0 2.8rem var(--bgBS),
                inset 0 0 1.3rem transparent;
    }
  
    h1 {
      color: var(--text);
      font-size: 3vw;
    }
    
    h2 {
      color: var(--text);
      font-size: 2vw;
    }
  
    p {
      font-family: arial;
      font-size: 1vw;
    }
  
    aside.cvDownload { 
      width: 10%;
      margin-top: 2px;
      margin-left: 95%;
      font-size: 11px;
      background-color: var(--primary);
      border:2px dashed var(--primary);
      background-color: var(--secondary);
      padding-top: 10px;
      padding-bottom: 10px;
      position: sticky;
      bottom: 0;
      box-shadow: 0 0 .2rem transparent,
                0 0 .2rem var(--bgBS),
                0 0 2rem var(--bgBS),
                0 0 0.8rem transparent,
                0 0 2.8rem transparent,
                inset 0 0 1.3rem transparent;
    } 
  
    table{
      margin: 5vw;
      font-size: 11px;
      color: var(--text);
    }

    /* ---------- Sticky Navigation on Page */

  aside.quickNavigation { 
    width: 110%;
    height: 5vw;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    margin-left: -5%;
    position: sticky;
    top: 5vw;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  }

  aside.topNavigation { 
    width: 110%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    padding-top: 10px;
    height: 3vw;
    margin-left: -5%;
    margin-bottom: 2%;
    font-size: 0vw;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  }

  
  ul.navul {
    list-style-type: none;
    padding: 0;
    overflow: visible;
    border-radius: 5%;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    background-color:transparent;
  }

  .indexContent{
    width: 100%;
  }
}






@media screen and (max-width: 768px) {
  body{
    display: ruby-text-container;
    background-color: var(--primary);
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem var(--bgBS),
              0 0 0.8rem var(--bgBS),
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  }

  h1 {
    color: var(--text);
    font-size: 5vw;
  }
  
  h2 {
    color: var(--text);
    font-size: 4vw;
  }

  p {
    font-family: arial;
    font-size: 3vw;
  }

  aside.cvDownload { 
    width: 15%;
    margin-top: 2px;
    font-size: 11px;
    margin-left: 75%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    box-shadow: 0 0 .2rem transparent,
              0 0 .2rem var(--bgBS),
              0 0 2rem var(--bgBS),
              0 0 0.8rem transparent,
              0 0 2.8rem transparent,
              inset 0 0 1.3rem transparent;
  } 

  table{
    margin: 5vw;
    font-size: 18px;
  }

  /* ---------- Sticky Navigation on Page */


  aside.quickNavigation { 
    width: 110%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    padding-top: 10px;
    margin-left: -5%;
    margin-bottom: 10%;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  } 

  aside.topNavigation { 
    width: 110%;
    background-color: var(--primary);
    border:2px dashed var(--primary);
    background-color: var(--secondary);
    padding-top: 10px;
    margin-left: -5%;
    margin-bottom: 10%;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem transparent,
              0 0 0.8rem transparent,
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
  
  } 

  ul.navul {
    list-style-type: none;
    padding: 0;
    overflow: visible;
    border-radius: 5%;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    background-color:transparent;
  }

  .indexContent{
    width: 100%;
  }
}
  
  



  /* Screen Width Independent Elements*/


  main{
    text-align: center;
    display: grid;
    position:relative ;
  }
  
  

  div{
    font-size: 18px;
  }
  
  ul{
      text-align: center;
  }

  th{
    text-align: center;
    font-size: 18px;
    z-index: 3;
  }
  
  a {
    background-color: transparent;
    color: var(--text);
  }

  
  /*-------- navigation */
  
  
  .line {
    border-bottom: 2px solid var(--secondary);
    width: 100%;

  }
  
  
  nav{
    display: block;
    text-align: center;
    justify-content: center;
      width: 100%px;
      border-bottom-width: 2vw;
      border-color: var(--secondary);
      color: var(--secondary);
      z-index: 5;
  }
  
  
  
  li#pageTitle.navli > a{
    font-size: 4vw;
    display: inline-flex;
  }

  
  li.navli a {
  
    border-radius: 5px;
    margin-top: 1vw;
  
    color: var(--text);
    text-align: center;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 2vw;
  }
  
  li a:hover {
    background-color: var(--primary);
  }
  
  select.maintainer{
    background-color: transparent;
  border-color: transparent;
    margin-top: 15%;
  }
  
  
  
  

  
  .dropbtn {
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 5px;
    border: none;
    margin-top: 1vw;
    display: block;
    z-index: 3;
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 50%;
  }

  .dropup {
    position: relative;
    display: inline-block;
    border-radius: 5px;
  
  }
  /*the Box of first drop*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    border-radius: 5px;
    min-width: 5vw;
    z-index: 5;
  }

  .dropup-content {
    display: none;
    position: absolute;
    background-color: transparent;
    bottom: 50px;
    border-radius: 5px;
    min-width: 5vw;
    z-index: 3;
  }



  .dropdown-content a{
    color: var(--text);
    background-color: var(--bgDD);
    padding: 0.5vw 1vw;
    text-decoration: none;
    border-color: 0.1vw dashed var(--primary);
    border-radius: 5px;
    display: flex;
    min-width: 5vw;
    border: 2px dashed var(--text);
    margin-bottom: 0.3vw;
    margin-left: 1vw;
  }
  
  .dropdown-content a:hover{
    color: var(--secondary);
    background-color: var(--text);
    display: flex;
  }

  #Instagram, #Github, #Youtube{
    margin-left: -2.5vw;
  }

  #Instagram{
    margin-top: 1vw;
  }
  
  ul.dropdown-menu{
    margin-left: -5vw;
    margin-top: 1vw;
  }

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent;}
 
  .dropdown-menu li:hover{
    background-color: var(--primary);
    color: var(--text);
  }
  .dropdown-menu li {
    color: var(--text);
    background-color: var(--bgDD);
    padding: 1vw 1vw;
    border-radius: 5px;
    display: flex;
    position: relative;
    border: 2px dashed var(--primary);
    margin-bottom: 0.3vw;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 8.3vw;
    top: -1vw;
    }

    
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
  /*------ indexSceen */
  
 
  div.about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../media/Image1.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    min-height: 100%;
    position: relative;
    background-position: center;
    justify-content: space-around;
    
  }

  div.about-flipped{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../media/Image1.jpg");
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    background-size: cover;
    min-height: 100%;
    position: relative;
    background-position: center;
    justify-content: space-around;
    
  }
  
  .about-text{
    margin-bottom: 0px;
  }

  .about-text-flipped{
    margin-bottom: 0px;
    transform: rotateY(180deg);
  }
    
    



  
    
    /*---------footer*/
    
  .line {
    display: flex;
    border-bottom: 2px solid var(--secondary);
    width: 100%;
  }
  
  
  footer{
    box-shadow: 0 0 .2rem transparent,
              0 0 .2rem var(--bgBS),
              0 0 2rem var(--bgBS),
              0 0 0.8rem transparent,
              0 0 2.8rem transparent,
              inset 0 0 1.3rem transparent;
  }
  

  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: var(--primary);
  }
  

  
svg{
  width: 2vw;
}

li{
  display: block;
}

  .lebenslauf {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    text-align: left;
    padding-bottom: 80px;
  }

  .stickpunkt{
    display: inline-flex;
  }



th#th1{
  display: flex;
  flex-direction: row;
}

.categoryName{
  font-size: 18px;
  justify-content: center;
  min-height: 100%;
}

  td.date {
    position: relative;
    border: 3px solid;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem transparent,
              0 0 2rem var(--bgBS),
              0 0 0.8rem var(--bgBS),
              0 0 2.8rem var(--bgBS),
              inset 0 0 1.3rem transparent;
    text-align: center;
    font-size: 18px;
    display: table;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    background-color: var(--secondary);
    z-index: 2;
    color: var(--text);
  }

    td.date:after { 
    position: absolute;
    border: 1px solid var(--text);
    width: 0;
    min-height: 100%;
    height: 300%;
    top: 100%;
    display: flex;
    flex:  1 1 auto;
    flex-grow: 1;
    content: '';
    left: 50%;
    z-index: 1;
    color: var(--text);
  }
  
  .categoryHead{
    margin-right: 2vw;
  }

  .categoryName{
    margin-top: 1vw;
  }

  .nottoggled{
    display: none;
  }


  .cvContent{
    margin-top: 5vw;
    margin-left: 5vw;
    display: flex;
    position: absolute;
    color: var(--text);
  }
  .skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .footer-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-table a{
    text-decoration: none;
  }

  .work-skills, .language-skills, .hobby-skills{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
    justify-content: left;

  }

  .custom-column{
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }




  .skillTable, .custom-row{
    color: var(--text);
    justify-items: center;
    
  }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--primary); /* If you want dots under the hoverable text */
  transition: transform 0.5s ease;
  z-index: 5;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--secondary);
  color: var(--text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover{
  transform: scale(1.2); 
}


/* Flip Card in Ref Part*/
/* Lebenslauf darunter alle anderen*/
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card-cv {
  background-color: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner-cv {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-cv:hover .flip-card-inner-cv {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-cv, .flip-card-back-cv {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-cv {
  color: var(--text);
}

/* Style the back side */
.flip-card-back-cv {
  color: var(--text);
  transform: rotateY(180deg);
} 


/* Rest Flipping*/

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} 



/* Imprint*/

  .imprint{
    text-align: left;
    margin: 5vw;
  }


